<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'simple_post_ui_app/css/style.css' %}">
</head>
<body>
    <a href="{% url 'testapp_simple-post-list' %}">Back to list</a>
    <form class="create" method="post" action="{% url 'testapp_create-simple-post' %}">
        {% csrf_token %}
        <input type="text" placeholder="Header" name="header">
        <textarea placeholder="Content" name="content"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>